<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PaczkomatyURL" value="https://api.paczkomaty.pl/" />
    
    <add key="WWWDir_Prod" value="C:\inetpub\wwwlajtit" />
    <add key="ImagesDirectory_Prod" value="C:\inetpub\wwwlajtit\Images\{0}" />
    <add key="ProductCatalogImagesDirectory_Prod" value="C:\inetpub\wwwlajtit\Images\ProductCatalog\{0}" />
    <add key="ProductImportFilesDirectory_Prod" value="C:\inetpub\wwwlajtit\Files\ImportFiles\{0}" />
    <add key="ProductExportFilesDirectory_Prod" value="C:\inetpub\wwwlajtit\Files\ExportFiles\{0}" />
    
    <add key="WWWDir_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy" />
    <add key="ImagesDirectory_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\{0}" />
    <add key="ProductCatalogImagesDirectory_Dev" value="\\192.168.0.107\wwwlajtit\Images\ProductCatalog\{0}" /><!--c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\Images\ProductCatalog\{0}" />-->
    <add key="ProductImportFilesDirectory_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\Files\ImportFiles\{0}" />
    <add key="ProductExportFilesDirectory_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\Files\ExportFiles\{0}" />

    <add key="SMTP_Server" value="sklep1586210.home.pl" />
    <add key="SMTP_Port" value="25" />
    <add key="SMTP_User" value="powiadomienia@lajtit.pl" />
    <add key="SMTP_Pwd" value="Powiadomienia1908!" />
    <add key="SMTP_Kontakt_Pwd" value="kontakt_lajtit2021" />
    <add key="SMTP_Ssl" value="false" />
    <add key="ShopWebApiLogin" value="lajtit_web" />
    <add key="ShopWebApiPwdLajtitpl" value="LajtitWeb1908" />
    <add key="ShopWebApiPwdOswietlenieTechniczne" value="234WERwe23$@#@#" />
    <add key="Ftp" value="sklep1586210.home.pl" />
    <add key="FtpP" value="#%wPfk#;gN0^" />
    <add key="FtpU" value="lajtitapi@static.lajtit.pl" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--  
    <add name="LajtitAllegroDB_Administrator" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdAllegro;Integrated Security=True;Connection Timeout=3600" />
    <add name="LajtitDB_Administrator" connectionString="Data Source=SERWER;Initial Catalog=LajtitProd;Integrated Security=True;Connection Timeout=3600" />
    <add name="LajtitHelperDB_Administrator" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdHelper;Integrated Security=True;Connection Timeout=3600" />

    <add name="LajtitAllegroDB_wwwlajtit" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdAllegro;Integrated Security=True"/>
    <add name="LajtitHelperDB_wwwlajtit" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdHelper;Integrated Security=True"/>
    <add name="LajtitDB_wwwlajtit" connectionString="Data Source=SERWER;Initial Catalog=LajtitProd;Integrated Security=True"/>

    -->

    <add name="LajtitDB_tomek" connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProd;Integrated Security=False; User ID=admin; Password=edingedu"/>
    <add name="LajtitAllegroDB_tomek" connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProdAllegro;Integrated Security=False; User ID=admin; Password=edingedu"/>
    <add name="LajtitHelperDB_tomek" connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProdHelper;Integrated Security=False; User ID=admin; Password=edingedu"/>

    <!--
    <add name="LajtitAllegroDB_Administrator" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdAllegro;Integrated Security=True;Connection Timeout=3600" />
    <add name="LajtitDB_Administrator" connectionString="Data Source=SERWER;Initial Catalog=LajtitProd;Integrated Security=True;Connection Timeout=3600" />
    <add name="LajtitHelperDB_Administrator" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdHelper;Integrated Security=True;Connection Timeout=3600" />

    <add name="LajtitAllegroDB_wwwlajtit" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdAllegro;Integrated Security=True"/>
    <add name="LajtitHelperDB_wwwlajtit" connectionString="Data Source=SERWER;Initial Catalog=LajtitProdHelper;Integrated Security=True"/>
    <add name="LajtitDB_wwwlajtit" connectionString="Data Source=SERWER;Initial Catalog=LajtitProd;Integrated Security=True"/>

-->

  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AllegroWebApiBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="655360000" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DpdServiceSoapHttp" closeTimeout="00:01:00" openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="655360000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webapi.allegro.pl/service.php" binding="basicHttpBinding" bindingConfiguration="AllegroWebApiBinding" contract="AllegroNewWCF.servicePort" name="servicePort" />
      <endpoint address="https://dpdservices.dpd.com.pl/DPDPackageObjServicesService/DPDPackageObjServices?wsdl" binding="basicHttpBinding" bindingConfiguration="DpdServiceSoapHttp" contract="DpdWCF.DPDPackageObjServices" name="DpdServiceSoapHttpPort"/>
    </client>
    <!--<diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
       />
    </diagnostics>-->
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\Jacek\Documents\Visual Studio 2015\Projects\AllegroApp\Temp\Client.dll_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\Users\Jacek\Documents\Visual Studio 2015\Projects\AllegroApp\Temp\Client1.dll_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>