<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString"
            connectionString="Data Source=SERWER;Initial Catalog=LajtitProd;Integrated Security=True;Connection Timeout=3600" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdAllegroConnectionString"
            connectionString="Data Source=SERWER;Initial Catalog=LajtitProdAllegro;Integrated Security=True;Connection Timeout=3600" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdHelperConnectionString"
            connectionString="Data Source=SERWER;Initial Catalog=LajtitProdHelper;Integrated Security=True;Connection Timeout=3600"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdHelperConnectionString3"
            connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProdHelper;Integrated Security=False; User ID=admin; Password=edingedu" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdAllegroConnectionString3"
            connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProdAllegro;Integrated Security=False; User ID=admin; Password=edingedu" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString3"
            connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProd;Integrated Security=False; User ID=admin; Password=edingedu" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
