<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString3"
            connectionString="Data Source=192.168.0.107\sqlexpress;Initial Catalog=LajtitProd;Integrated Security=False; User ID=admin; Password=edingedu"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdHelperConnectionString3"
            connectionString="Data Source=192.168.0.107\sqlexpress;Initial Catalog=LajtitProdHelper;Integrated Security=False; User ID=admin; Password=edingedu"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdAllegroConnectionString3"
            connectionString="Data Source=192.168.0.107\sqlexpress;Initial Catalog=LajtitProdAllegro;Integrated Security=False; User ID=admin; Password=edingedu"
            providerName="System.Data.SqlClient" />
        <add name="Dll.Properties.Settings.AllegroDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitDB_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.AllegroDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=AllegroDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitDB_TestConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitDB_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitTestConnectionString"
            connectionString="Data Source=JACEK\SQLEXPRESS;Initial Catalog=LajtitTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitTestHelperConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitTestHelper;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString"
            connectionString="Data Source=LAPTOP-429BP44U\SQLEXPRESS;Initial Catalog=LajtitProd;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdHelperConnectionString"
            connectionString="Data Source=LAPTOP-429BP44U\SQLEXPRESS;Initial Catalog=LajtitProdHelper;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdAllegroConnectionString"
            connectionString="Data Source=LAPTOP-429BP44U\SQLEXPRESS;Initial Catalog=LajtitProdAllegro;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString1"
            connectionString="Data Source=LAPTOP-E90OCQH9\SQLEXPRESS;Initial Catalog=LajtitProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString2"
            connectionString="Data Source=JACEK\SQLEXPRESS;Initial Catalog=LajtitProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdAllegroConnectionString1"
            connectionString="Data Source=jacek\sqlexpress;Initial Catalog=LajtitProdAllegro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdHelperConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitProdHelper;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString4"
            connectionString="Data Source=192.168.0.107\SQLEXPRESS;Initial Catalog=LajtitProd;User ID=admin"
            providerName="System.Data.SqlClient" />
        <add name="LajtIt.Dal.Properties.Settings.LajtitProdConnectionString5"
            connectionString="Data Source=192.168.0.107\SQLEXPRESS;Initial Catalog=LajtitProd;Persist Security Info=True;User ID=admin;Password=edingedu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
