<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SiodemkaServiceSoapHttp" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="IklServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="IklServicePortBinding1" />
                <binding name="serviceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="serviceBinding1" />
                <binding name="DPDPackageObjServicesPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DPDPackageObjServicesPortBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DPDInfoServicesObjEventsPortBinding">
                    <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webmobile7.siodemka.com:80/mm7ws/SiodemkaServiceSoapHttpPort"
                binding="basicHttpBinding" bindingConfiguration="SiodemkaServiceSoapHttp"
                contract="SiodemkaWCF.SiodemkaService" name="SiodemkaServiceSoapHttpPort" />
            <endpoint address="https://ws-tba.alfa-projekt.pl:443/iKlientWs/IklServicePort"
                binding="basicHttpBinding" bindingConfiguration="IklServicePortBinding"
                contract="TbaWCF.IklService" name="IklServicePort" />
            <endpoint address="https://dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEventsService/DPDInfoServicesObjEvents"
                binding="customBinding" bindingConfiguration="DPDInfoServicesObjEventsPortBinding"
                contract="DpdStatusWCF.DPDInfoServicesObjEvents" name="DPDInfoServicesObjEventsPort" />
            <endpoint address="https://webapi.allegro.pl/service.php" binding="basicHttpBinding"
                bindingConfiguration="serviceBinding" contract="AllegroNewWCFOLD.servicePort"
                name="servicePort" />
            <endpoint address="https://dpdservices.dpd.com.pl/DPDPackageObjServicesService/DPDPackageObjServices"
                binding="basicHttpBinding" bindingConfiguration="DPDPackageObjServicesPortBinding"
                contract="DpdWCF.DPDPackageObjServices" name="DPDPackageObjServicesPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
