<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection,          AjaxControlToolkit"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PaczkomatyURL" value="https://api.paczkomaty.pl/"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=/temp"/>
    <add key="ProductCatalogImages" value="/Images/ProductCatalog"/>
    <add key="WWWDir_Prod" value="C:\inetpub\wwwlajtit"/>
    <add key="ImagesDirectory_Prod" value="C:\inetpub\wwwlajtit\Images\{0}"/>
    <add key="ProductCatalogImagesDirectory_Prod" value="C:\inetpub\wwwlajtit\Images\ProductCatalog\{0}"/>
    <add key="ProductImportFilesDirectory_Prod" value="C:\inetpub\wwwlajtit\Files\ImportFiles\{0}"/>
    <add key="ProductExportFilesDirectory_Prod" value="C:\inetpub\wwwlajtit\Files\ExportFiles\{0}"/>
    <add key="WWWDir_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy"/>
    <add key="ImagesDirectory_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\Images\{0}"/>
    <add key="ProductCatalogImagesDirectory_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\Images\ProductCatalog\{0}"/>
    <add key="ProductImportFilesDirectory_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\Files\ImportFiles\{0}"/>
    <add key="ProductExportFilesDirectory_Dev" value="c:\Users\Tomek\Desktop\AllegroApp.2021.08.09\AllegroApp\LajtIt.Web_deploy\Files\ExportFiles\{0}"/>
    <add key="SMTP_Server" value="sklep1586210.home.pl"/>
    <add key="SMTP_Port" value="587"/>
    <add key="SMTP_User" value="powiadomienia@lajtit.pl"/>
    <add key="SMTP_Pwd" value="Powiadomienia1908!"/>
    <add key="SMTP_Ssl" value="false"/>
    <add key="ShopWebApiLogin" value="lajtit_web"/>
    <add key="ShopWebApiPwdLajtitpl" value="LajtitWeb1908"/>
    <add key="ShopWebApiPwdOswietlenieTechniczne" value="234WERwe23$@#@#"/>
    <add key="Ftp" value="sklep1586210.home.pl"/>
    <add key="FtpP" value="#%wPfk#;gN0^"/>
    <add key="FtpU" value="lajtitapi@static.lajtit.pl"/>
  </appSettings>
  <connectionStrings>
    <add name="LajtitAllegroDB_wwwlajtit" connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitProdAllegro;Integrated Security=True"/>
    <add name="LajtitHelperDB_wwwlajtit" connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitProdHelper;Integrated Security=True"/>
    <add name="LajtitDB_wwwlajtit" connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitProd;Integrated Security=True"/>
    <!--<add name="LajtitAllegroDB_tomek" connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitProdAllegro;Integrated Security=True"/>
    <add name="LajtitDB_tomek" connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitProd;Integrated Security=True"/>
    <add name="LajtitHelperDB_tomek" connectionString="Data Source=.\sqlexpress;Initial Catalog=LajtitProdHelper;Integrated Security=True"/>
    <add name="LajtitDB_tomek" connectionString="Data Source=DESKTOP-QLM6VCM;Initial Catalog=LajtitProd;Integrated Security=True"/>
    <add name="LajtitAllegroDB_tomek" connectionString="Data Source=DESKTOP-QLM6VCM;Initial Catalog=LajtitProdAllegro;Integrated Security=True"/>
    <add name="LajtitHelperDB_tomek" connectionString="Data Source=DESKTOP-QLM6VCM;Initial Catalog=LajtitProdHelper;Integrated Security=True"/>
    <add name="LajtitDB_tomek" connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProd;Integrated Security=False; User ID=admin; Password=edingedu"/>
    <add name="LajtitAllegroDB_tomek" connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProdAllegro;Integrated Security=False; User ID=admin; Password=edingedu"/>
    <add name="LajtitHelperDB_tomek" connectionString="Data Source=192.168.0.107;Initial Catalog=LajtitProdHelper;Integrated Security=False; User ID=admin; Password=edingedu"/>-->
    <add name="LajtitDB_tomek" connectionString="Data Source=192.168.0.107\sqlexpress;Initial Catalog=LajtitProd;Integrated Security=False; User ID=admin; Password=edingedu"/>
    <add name="LajtitAllegroDB_tomek" connectionString="Data Source=192.168.0.107\sqlexpress;Initial Catalog=LajtitProdAllegro;Integrated Security=False; User ID=admin; Password=edingedu"/>
    <add name="LajtitHelperDB_tomek" connectionString="Data Source=192.168.0.107\sqlexpress;Initial Catalog=LajtitProdHelper;Integrated Security=False; User ID=admin; Password=edingedu"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.11.18.0" newVersion="1.11.18.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.429" newVersion="4.1.7.429"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <globalization uiCulture="pl" culture="pl-PL"/>
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"/>
      </providers>
    </sanitizer>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" executionTimeout="6000" maxRequestLength="24000"/>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx" name=".ASPXAUTH" protection="All" timeout="60" path="/" requireSSL="false" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AutoComplete.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <handlers>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <add name="ddd" path="ChartImg.axd" verb="*" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AllegroWebApiBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="655360000" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="TbaServiceSoapHttp" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="655360000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="SiodemkaServiceSoapHttp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="DpdServiceSoapHttp" closeTimeout="00:01:00" openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="655360000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="DPDInfoServicesSoapHttp" closeTimeout="00:01:00" openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="655360000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webapi.allegro.pl/service.php" binding="basicHttpBinding" bindingConfiguration="AllegroWebApiBinding" contract="AllegroNewWCF.servicePort" name="servicePort"/>
      <endpoint address="http://webmobile7.siodemka.com:80/mm7ws/SiodemkaServiceSoapHttpPort" binding="basicHttpBinding" bindingConfiguration="SiodemkaServiceSoapHttp" contract="SiodemkaWCF.SiodemkaService" name="SiodemkaServiceSoapHttpPort"/>
      <endpoint address="https://ws-tba.alfa-projekt.pl/iKlientWs/IklServicePort?wsdl" binding="basicHttpBinding" bindingConfiguration="TbaServiceSoapHttp" contract="TbaWCF.IklService" name="TbaServiceSoapHttpPort"/>
      <endpoint address="https://dpdservices.dpd.com.pl/DPDPackageObjServicesService/DPDPackageObjServices?wsdl" binding="basicHttpBinding" bindingConfiguration="DpdServiceSoapHttp" contract="DpdWCF.DPDPackageObjServices" name="DpdServiceSoapHttpPort"/>
      <endpoint address="https://dpdinfoservices.dpd.com.pl/DPDInfoServicesXmlEventsService/DPDInfoServicesXmlEvents?wsdl" binding="basicHttpBinding" bindingConfiguration="DPDInfoServicesSoapHttp" contract="DpdStatusWCF.DPDInfoServicesObjEvents" name="DPDInfoServicesSoapHttpPort"/>
    </client>
  </system.serviceModel>
  <!--<system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\Jacek\Documents\Visual Studio 2015\Projects\AllegroApp\Temp\Client.dll_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type=""/>
            </add>
            <add initializeData="C:\Users\Jacek\Documents\Visual Studio 2015\Projects\AllegroApp\Temp\Client1.dll_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type=""/>
            </add>
        </sharedListeners>
        <trace autoflush="true"/>
    </system.diagnostics>-->
</configuration>
<!--ProjectGuid: E414EC57-60A2-42F6-984B-6281481D21F4-->